### IntelliJ IDEA ###
out/
.idea/
!**/src/main/**/out/
!**/src/test/**/out/
workspace.xml
# ignore ALL .log files

# Change made by MASTER branch

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# features from dev2